# datasets (raw data, generated view-sampled splits, and the local datasets/ symlink)
datasets
*_sampled/

# python env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pycachefile
*.pth
*.log
*.ipynb
*.json
*.wabdb
